@{   
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Estudante de C# Curso Completo @ViewData["Estudante"]</p>


<adress>
    <strong>You can be a student in: </strong> <a href="https://www.udemy.com">Udemy Website</a>
</adress>
